<template name="main">
  <div style="width: 100%">
    <div style="width: 20%; border-right: 1px solid #000; height: 100%; display: inline-block;float: left">
      {{> sidenav pageVar=pageVar}}
    </div>
    <div style="width: 79%; display: inline-block">
      <div style="width: 100%; border-bottom: 1px solid #000;">
        {{> header page=pageVar.get}}
      </div>
      {{#if pageVar.get}}
        {{pageVar.get.content}}
        {{#if pageVar.get.templateName}}
          {{> Template.dynamic template=pageVar.get.templateName}}
        {{/if}}
      {{else}}
        Select a page on the left to see some dynamic content
      {{/if}}
    </div>
  </div>
</template>
